@mixin border {
    border:2px solid $color2;   
    border-radius: 5px;
}

/*variables: color*/
$color1: #fff;
$color2: #000;
$color3: #ffc0cb;
$color4: #F2F7F4;
$color5: #f8b3be;
$color6: #cccccc;

/*variables: fonts*/
$fontbrand: 'Times New Roman', Times, serif;
$fontweb: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

/*inicio navbar*/
.navbar{
    background-color: $color2;
}
.navbar-brand{
    color: $color1;
    font-size: 22px;
    font-family: $fontbrand;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    margin:3px;
}
.navbar-toggler{
    background-color: $color1 !important;
}

.navbar-toggler-icon{
    color: $color2;
    font-size: 22px;
    padding: 3px;
}

.navbar-item{
    list-style: none;
    display: inline-block;
    a{
        text-decoration: none;
        text-transform: capitalize;
        color: $color3;
        font-size: 18px;
        font-family: $fontweb;
        padding: 16px;
        
    }
    a:hover{
        color: $color4;
        text-decoration: underline;
    }
}

/*fin navbar*/
/*inicio body-welcome*/
body{
    font-family: $fontweb;
    .welcome{
        background: url(../images/main.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;   
        .welcome-call{
            color: $color2;
            float: left;
            padding: 30px; 
            margin-left: 20px; 
            h2{
                color: $color2;
                margin-bottom: 20px;
                font-size: 50px;
                font-weight: bold;
                max-width: 450px;  
            }   
            p{
                margin-bottom: 40px;
                font-size: 22px;
                max-width: 450px;        
            }
            a{
                @include border();
                color: $color2;
                padding: 10px 20px;
                background-color: $color3;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 16px;  
                font-weight: bold; 
            }
            a:hover{
                background-color: $color2;
                color: $color4;
            }
        }
    }
}
/*fin body-welcome*/
/*inicio footer*/
footer{
    text-align: center;
    font-size: 18px;
    background-color: $color2; 
    p{
        color: $color4;     
    }
    i{
        text-decoration: none;
        color: $color3;        
    }  
}

/*fin footer*/
/*Nosotros*/

.about{
    .img-about {
        background-image: url(../images/nosotros.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
    .title-about{
        background-color: $color1;
        color:$color2;
        height: 100vh;
        
        h2{
            color: $color5;
            font-size: 55px;
            text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
            text-align: right;
            margin-bottom: 10%;
            margin-top: 10%;
            max-width: 100vh;
            padding: 10%;
        }
        p{
            font-size: 22px;   
            color: $color2;
            padding: 10%;
        }
    }
}


/*nuestros-servicios*/

.services{
    .title-services{
        background-color: $color1;
        color:$color2;
        height: 100vh;
        h2{
            color: $color5;
            font-size: 55px;
            text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
            text-align: left;
            margin-top: 10%;
            margin-bottom: 10%;
            max-width: 100vh;
        }
        .caja{
            @include border();            
            background-color: $color1;
            text-align: center;
            line-height: 80%;
            font-weight: bold;
            font-family: $fontweb;
            text-transform: uppercase;
            font-size: 18px;
            text-shadow: 0 0 5px $color2;
            color: $color1;
            padding: 10px 20px;
            margin-bottom: 10px;            
        }
            
        @for $i from 1 through 6 {
            .caja#{$i} {
                background-color: darken($color6, $i * 7%);
                box-shadow: 0 0 5px , lighten($color1, $i * 7%);
            }
        }
    }
    .img-services {
        background-image: url(../images/services-new.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
    }
}
/*dónde-estamos*/
.donde-estamos{
    background: url(../images/city.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    text-align: center;
    
}
.donde-texto{
    h2{
        color:$color3;
        margin-bottom: 8px;
        font-size: 55px;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black; 
    }
    p{
        color:$color1;
        font-size: 16px;
        padding-bottom: 10px;
    }
}
.donde-map{
    .googlemap{
        width: 100%;
        height: 75vh;
    }
}

/*contacto*/
.contact{
    max-width: 800px;
    margin: 50px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px $color6;
    padding: 30px;
    .title h2{
        text-align: center;
        font-size: 55px;
        line-height: 48px;
        padding-bottom: 20px;
        color: $color3;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    }
    .title h3{
        text-align: center;
        font-size: 22px;
        padding-bottom: 20px;
        color: $color2;
    }
}

.contact-form{
    .form-field{
        position: relative;
        margin: 32px 0;
    }
    .input-text{
        display: block;
        width: 100%;
        height: 36px;
        border-width: 0 0 2px 0;
        border-color: $color3;
        font-size: 18px;
        line-height: 26px;
        font-weight: 400;
    }
    .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
        transform: translateY(-24px);
    }
    .input-text:focus{
        outline: none;
    }
    .label{
        position: absolute;
        left: 20px;
        bottom: 11px;
        font-size: 18px;
        font-weight: 400;
        color: $color2;
        cursor: text;
        transition: transform 0.2s ease-in-out
    }
    .submit-btn{
        display:inline-block;
        color: $color2;
        background: $color3;
        text-transform: uppercase;
        font-size: 16px;  
        font-weight: bold;
        padding: 8px 16px;
        width: 200px;
        text-decoration: none;
        cursor: pointer;  
        @include border();    
    }
}


/*media queries*/
@media only screen and (max-width:375px) {
    .welcome-call h2{
        font-size: 40px;
    
    }
}

@media only screen and (max-width:414px) {
    .welcome-call h2{
        font-size: 35px;
    }
    
}

