/*variables: color*/
$color1: #fff;
$color2: #000;
$color3: #ffc0cb;
$color4: #F2F7F4;
$color5: #f8b3be;
$color6: #cccccc;

/*variables: fonts*/
$fontbrand: 'Times New Roman', Times, serif;
$fontweb: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;